.addItemDiv {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.addItemDiv h2 {
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addItemDiv form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 90%;
  justify-content: space-evenly;
}

.areaSection {
  width: 90%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin: 0 auto;
  text-decoration: underline;
}

.timeSelect {
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-decoration: underline;
}

.areaSection input,
.areaSection select {
  width: 40%;
  display: block;
  height: 20%;
  border-radius: 20px;
  background-color: var(--silver);
  text-decoration: none;
}

.areaSection label {
  width: 40%;
  display: block;
  height: fit-content;
  background-color: var(--silver);
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  color: var(--prussianBlue);
  text-decoration: none;
  font-family: var(--font);
  font-size: 13px;
}

/* .areaSection select {
  width: 40%;
  display: block;
  height: 20%;
  border-radius: 20px;
} */

#addItemSubmit {
  width: 60%;
  margin: 0 auto;
}

.timeSelect {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timeSelect div {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.timeSelect div select {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
  font-family: var(--font);
}

.timeSelect div label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: var(--font);
}

#timeLabel {
  font-family: var(--font);
  margin-bottom: 10px;
}

#calenderLink {
  width: 150px;
  display: flex;
  height: fit-content;
  background-color: var(--silver);
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  color: var(--prussianBlue);
  text-decoration: none;
  font-family: var(--font);
  font-size: 13px;
  justify-content: center;
}

#calenderSubmitBtn {
  width: 150px;
  display: flex;
  height: fit-content;
  background-color: var(--silver);
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px;
  color: var(--prussianBlue);
  text-decoration: none;
  font-family: var(--font);
  font-size: 13px;
  justify-content: center;
}

.linkSection {
  display: flex;
  justify-content: space-evenly;
}
