.rbc-calendar {
    margin-top: 20px;
    border-top: 3px solid white;
    padding: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}

.rbc-toolbar {
    font-size: 22px;
    font-weight: bold;
    height: 120px;
}

.rbc-toolbar .rbc-btn-group {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.rbc-toolbar button {
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(168, 168, 168);
    color: black;
    width: 30%;
}

.rbc-header {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
}